{% extends "_base.html" %}

<!-- Title -->
{% block title %}Schimba Parola - Forum{% endblock %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}
    <nav class="mt-4" aria-label="breadcrumb">
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
		<a href="{% url 'account-update' %}">
		    Cont
		</a>
	    </li>
	    <li class="breadcrumb-item">
		Schimba
	    </li>
	    <li class="breadcrumb-item active">
		Parola
	    </li>
	</ol>
    </nav>
{% endblock %}

<!-- Conntent -->
{% block content %}
    <div class="card mt-4">
	<div class="card-body">
	    <h3>Schimba parola</h3>
	    {% include "accounts/_change_password_form.html" %}
	</div>
    </div>
{% endblock %}
